@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";


.tab-list {
    height: $stage-menu-height;
    width: 100%; /* Match width of the toolbox */
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.80rem;

    /* Overrides for react-tabs styling */
    margin: 0 !important;
    border-bottom: 0 !important;
}


.tab {
    flex-grow: 1;
    height: 100%;
    margin-bottom: 0;

    border-radius: 0 0 0 0;
    border: 1px solid $ui-black-transparent;

    /*padding: 0.125rem 1.25rem 0;*/
    font-size: 0.75rem;

    background-color: $ui-tertiary;
    color: $text-primary-transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    white-space: nowrap;
}

.tab:hover{
    border-bottom: 4px solid hsl(208, 99%, 50%);
    background-color: $ui-primary;
}

.tab:focus{
    box-shadow: none;
    border-color: $ui-black-transparent;
}

.tab:focus:after {

    display: none;
}

.tab:first-child {
    border-radius: 5px 0 0 0;
}

.tab:last-child {
    border-radius: 0 5px 0 0;
}


.tab img {
    width: 1.375rem;
    filter: grayscale(100%);
}


/*
[dir="ltr"] .tab {
    margin-left: -0.5rem;
}

[dir="rtl"] .tab {
    margin-right: -0.5rem;
}

[dir="ltr"] .tab:nth-of-type(1) {
    margin-left: 0;
}

[dir="rtl"] .tab:nth-of-type(1) {
    margin-right: 0;
}
*/

/* Use z-indices to force left-on-top for tabs 
.tab:nth-of-type(1) {
    z-index: 3;
}
.tab:nth-of-type(2) {
    z-index: 2;
}
.tab:nth-of-type(3) {
    z-index: 1;
}
*/

.tab.is-selected {
    color: $motion-primary;
    background-color: $ui-white;
    z-index: 2; /* Make sure selected is always above */
}

.tab.is-selected img {
    filter: none;
}

/* Tab style overrides from react-tabs */
.tab.is-selected:after {
    display: none;
}

.tab.is-selected:focus {
    box-shadow: none;
    border-color: hsl(208, 99%, 50%);
}

.tab.is-selected:focus:after {
    display: none;
}
